@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100&display=swap');


.full-width-section {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    height: 100vh;
    min-height: 100%;
}

.arrow-down-button {
    font-size: 12px;
    color: #fff;
    background-color: transparent; 
    border: 1px solid #fff; 
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    line-height: 35px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


h1 {
    font-family: 'Nunito', 'Roboto', 'Helvetica', sans-serif;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
    font-size: 16pt;
    
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar.navbar-light .navbar-toggler-icon {
    background-color: #fff;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}